.başlık{ width: auto; margin: auto; font-size: 25px; color: blueviolet; margin: 20px 0 0 550px;}
.yazı{ color: black; width: auto; height: auto; margin: 10px 0 0 20px;}
.altbaşlık{ width: auto; height: auto; color: seagreen; font-size: 20px; margin: 0 0 0 480px;}
.liste{ color: black; font-size: 15px; margin: 10px 0 0 500px;}